<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>社員詳細</title>
	<link rel="stylesheet" th:href="@{/css/employees.css}" href="../static/css/employees.css">
</head>

<body>
	<form th:action="@{/employeesAttend}" method="post" th:each="employee : ${employeeId}">
		<h1>社員詳細</h1>
		<h2 th:text="${employee.name}"></h2>
		<input type="hidden" name="employeeId" th:value="${employee.id}">
		<button type="submit" name="attendButton" value="clockIn">出勤</button>
		<button type="submit" name="attendButton" value="breakStart">休憩開始</button>
		<button type="submit" name="attendButton" value="breakEnd">休憩終了</button>
		<button type="submit" name="attendButton" value="clockOut">退勤</button>
	</form>
	<table>
		<tr>
			<th>出勤日時</th>
			<th>休憩開始日時</th>
			<th>休憩終了日時</th>
			<th>退勤日時</th>
		</tr>
		<tr th:each="clock : ${clock}">
			<td th:text="${clock.clockIn}"></td>
			<td th:text="${clock.clockOut}"></td>
			<td th:text="${clock.breakStart}"></td>
			<td th:text="${clock.breakEnd}"></td>
		</tr>
	</table>
	<form th:action="@{/employeesList}" method="get">
		<button type="submit">社員一覧へ</button>
	</form>
</body>

</html>
